* {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: Linen;
  width: 1050px;
}
h1 {
  font-family: Montserrat;
  font-size: 40px;
  margin: 30px 0px;
  text-align: center;
}

.container {
  margin: 30px;
  padding: 30px;
}

ul#level {
  width: 700px;
  margin: auto;
}

#level input, #cat input {
  width: 160px;
  border-radius: 0px;
}

/* indiviual questions */
li {
  margin-bottom: 30px;
}
h3 {
  font-family: Open Sans;
  font-size: 14px;
  margin: 5px 15px;
}
input {
  background-color: Gainsboro;
  width: 220px;
  padding: 10px;
  margin: 5px;
  border: 2px solid White;
  border-radius: 10px;
  font-size: 12px;
}
input:hover {
  background-color: White;
}

/* counter */
#score-count {
  width: 75px;
  height: 50px;
  background-color: lightSteelBlue;
  border: 2px solid White;
  border-radius: 15px;
  margin: auto;
}
h4 {
  color: White;
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
  margin-top: 6px;
}
