* {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: Linen;
}
ul {
  margin: 50px;
}
li {
  margin-bottom: 30px;
}
input {
  background-color: Gainsboro;
  min-width: 220px;
  padding: 5px;
  margin: 5px;
  border: 2px solid White;
}
input:hover {
  background-color: White;
}
