* {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: LightSteelBlue;
}
#wrapper {
  width: 755px;
  margin: auto;
}
h1 {
  font-family: Montserrat;
  font-size: 40px;
  display: block;
  margin: 50px 0px 0px 0px;
  text-align: center;
}
.container {
  padding: 30px;
}
h2 {
  font-family: Montserrat;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
}
.choosen {
  background-color: Silver;
}
#choices {
  display: block;
}
#choices ul {
  margin: auto;
  float: left;
}
#choices input {
  width: 160px;
  border-radius: 0px;
}
#number {
  padding-left: 5px;
}
#start {
  width: 200px;
  display: block;
  margin: auto;
}
#start:active {
  background-color: SteelBlue;
}

/* indiviual questions */
li {
  background-color: #eee;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, .3);
}
h3 {
  font-family: Open Sans;
  font-size: 18px;
  margin: 5px 10px;
}
input {
  background-color: White;
  width: 310px;
  padding: 10px;
  margin: 5px;
  border: 2px solid Black;
  font-size: 14px;
}

/* counter */
#score-count {
  background-color: SteelBlue;
  width: 75px;
  height: 50px;
  border: 2px solid Black;
  border-radius: 15px;
  margin: auto;
}
h4 {
  color: White;
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
  margin-top: 6px;
}
